.phone {
  width: 16px;
  height: 16px;
  background-image: url("../icon-pictures/phone-icon.png");
  margin-left: 10px;
}
.envelope{
  width: 16px;
  height: 16px;
  background-image: url("../icon-pictures/envelope-icon.png");
  margin-left: 10px;
}
.Ru{
  width: 16px;
  height: 16px;
  background-image: url("../icon-pictures/russia.png");
  margin-left: 10px;
}
.En{
  width: 16px;
  height: 16px;
  background-image: url("../icon-pictures/united-states.png");
  margin-left: 10px;
}
